.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 40%;
    width: 40%;
}

.a{
    width : 110px;
    height: 110px;
    background-color: #95D387;
    border-radius: 6px;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  
  .b{
    width : 100px;
    height: 100px;
    background-color: #E6FCA4;
    border-radius: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
  }

  .c{
      width: 90px;
      height: 90px;
  }
